<%= form_for(@project, remote: true) do |f| %>
  <%= render partial: 'shared/error_handle', locals: {model: @project} %>

  <div class="modal-body">
    <div class="form-group">
      <%= f.label :name, class:"form-label" %>
      <%= f.text_field :name, class:"form-control", id:"project_name" %>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>   