<div class="dashboard main">  
  <div class="container">
    <div class="row">
      <div class="col-sm-12 activity-form">
 
        <%= form_for @activity, :html => {class:"row"} do |f| %>
          <%= render partial: 'shared/error_handle', locals: {model: @activity} %>

          <div class="form-group col-sm-3">
            <%= f.collection_select(:project_id , @projects, :id, :name, {:prompt => false}, options = {class:"form-control"}) %>
          </div>
          <div class="form-group col-sm-8">
            <% if @activity_in_progress %>
              <%= f.text_field :description, class:"form-control", readonly: true %>
            <% else %>
              <%= f.text_field :description, class:"form-control", placeholder:"¿En qué estás trabajando?" %>
            <% end %>
          </div>
          <div class="col-sm-1">
            <% if @activity_in_progress %>
              <%= f.submit 'Stop', class: 'btn btn-danger' %>
            <% else %>
              <%= f.submit 'Start', class: 'btn btn-success' %>
            <% end %>
          </div>
        <% end %> 

      </div>
    </div>

    <div class="row">
      <table class="table activities-list">
        <thead>
          <tr>
            <th>Project</th>
            <th>Description</th>
            <th class="text-center">Time</th>
          </tr>
        </thead>
        <tbody>
          <% @activities.each do |activity| %>
            <tr>
              <td><%= activity.project.name %></td>
              <td><%= activity.description %></td>
              <% if activity.ended_at.nil? %>
                <td class="text-center">En progreso...</td>
              <% else %>
                <td class="text-center"><%= (activity.ended_at-activity.started_at).to_i %> segundos</td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>